<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src {cspSource}; script-src 'nonce-{nonce}';">
        <link href="{style}" rel="stylesheet" />
    </head>
    <body>
        <script nonce="{nonce}">
                document.addEventListener('DOMContentLoaded', function () {
                    const vscode = acquireVsCodeApi();

                    const rootInput = document.getElementById('rootInput');
                    const routeInput = document.getElementById('routeInput');
                    const routeType = document.getElementById('routeType');
                    const submitButton = document.getElementById('submit');
                    const outputText = document.getElementById('outputText');
                    const loadFlowButton = document.getElementById('loadFlowButton');

                    submitButton.addEventListener('click', () => { 
                        vscode.postMessage({
                            messageType: "submit",
                            root: rootInput.value,
                            route: routeInput.value, 
                            method: routeType.options[routeType.selectedIndex].text
                        });
                        outputText.innerHTML = "";
                    });

                    loadFlowButton.addEventListener('click', () => {
                        let input = document.createElement('input');

                        input.type = 'file';
                        input.onchange = (_this) => {
                                let files = Array.from(input.files);
                                vscode.postMessage({
                                    messageType: "loadFlow",
                                    filePath: files[0].path
                                });
                            };
                        input.click();
                    });

                    window.addEventListener('message', event => {
                        let logLine = document.createElement("div");
                        logLine.style.marginBottom = '10px';
                        
                        if(event.data.content != null) {
                            let details = document.createElement("details");
                            let summary = document.createElement("summary");
                            let textArea = document.createElement("textarea");
                            
                            textArea.value = JSON.stringify(event.data.content, null, 4);
                            appendTokens(event, summary);
                            summary.children[0].className = "detail-marker";
                            details.appendChild(summary);
                            details.appendChild(textArea);
                            logLine.appendChild(details);
                        } else {
                            appendTokens(event, logLine);
                        }

                        outputText.appendChild(logLine);
                    });

                    function appendTokens(event, parent) {
                        event.data.tokens.forEach(token => {
                            let tokenText = document.createElement("text");
                            
                            styleTokenText(token, tokenText);
                            parent.appendChild(tokenText);
                            parent.appendChild(document.createTextNode(String.fromCharCode(160)));
                        });
                    }

                    function styleTokenText(token, tokenText) {
                        tokenText.textContent = String.fromCharCode(160) + token.text + String.fromCharCode(160);
                        tokenText.style.backgroundColor = token.highlight;
                        tokenText.style.color = token.color;

                        if(token.span != undefined && token.span)
                            tokenText.style.width = "100%";
                    }
                });
        </script>
        <div class="area">
            <button id="loadFlowButton" class="submit-button">Load flow</button>
            <div class="area-component">
                <h3 class="label">root:</h3>
                <input id="rootInput" class="route-input" placeholder="http://localhost:8080"></input>
            </div>
            <div class="area-component">
                <h3 class="label">route:</h3>
                <input id="routeInput" class="route-input" placeholder="/api/endpoint"></input>
            </div>
            <div class="area-component">
                <h3 class="label">method:</h3>
                <select id="routeType" class="route-type-select" name="endpointType" id="endpointTypeSelect">
                    <option value="get">GET</option>
                    <option value="get">POST</option>
                    <option value="get">PUT</option>
                    <option value="get">DELETE</option>
                </select>
                <button id="submit" class="submit-button">Submit</button>
            </div>
        </div>
        <div class="area">
            <h3 class="label">output:</h3>
            <div class="outputText" id="outputText"></div>
        </div>
    </body>
</html>